# Base de données
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/foncier_facile_db"

# NextAuth
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="https://www.foncierfacileafrique.fr"

# Email (SMTP OVH ou Brevo)
SMTP_HOST="ssl0.ovh.net"
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_USER="contact@foncierfacileafrique.fr"
SMTP_PASS="your-email-password"
EMAIL_FROM="Foncier Facile Afrique <contact@foncierfacileafrique.fr>"
EMAIL_ADMIN="isdineidisoule@gmail.com"

# Upload
UPLOAD_DIR="./public/uploads"
MAX_FILE_SIZE="5242880"

# WhatsApp
WHATSAPP_NUMBER="22996901204"

# App
NEXT_PUBLIC_SITE_URL="https://www.foncierfacileafrique.fr"
NEXT_PUBLIC_WHATSAPP_NUMBER="22996901204"
