# Base de données
#DATABASE_URL=DATABASE_URL=postgresql://neondb_owner:npg_YynIsZ4G7whT@ep-curly-pond-agxvudwf-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# NextAuth
NEXTAUTH_SECRET="+SAQCm3S1lfAR9iR2X+L2r+DnIZQdR2vK8c1gs6bmrk="
# En local : utiliser http://localhost:3000 (même port que npm run dev)
NEXTAUTH_URL="https://www.foncierfacileafrique.fr"

# Email (SMTP OVH ou Brevo)
SMTP_HOST="ssl0.ovh.net"
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_USER="contact@foncierfacileafrique.fr"
SMTP_PASS="your-email-password"
EMAIL_FROM="Foncier Facile Afrique <contact@foncierfacileafrique.fr>"
EMAIL_ADMIN="isdineidisoule@gmail.com"

# Upload
UPLOAD_DIR="./public/uploads"
MAX_FILE_SIZE="5242880"

# WhatsApp
WHATSAPP_NUMBER="22996901204"

# App
NEXT_PUBLIC_SITE_URL="https://www.foncierfacileafrique.fr"
NEXT_PUBLIC_WHATSAPP_NUMBER="22996901204"

# Google Maps (carte contact + vue carte annonces)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="votre_cle_api_google_maps"

# FedaPay (boutique ebooks)
FEDAPAY_SECRET_KEY="votre_cle_secrete_fedapay"
FEDAPAY_ENV="sandbox"
